name: .test

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
      - 'releases/v*'
    tags:
      - 'v*'
  pull_request:

jobs:
  build-aws-single:
    uses: ./.github/workflows/build.yml
    permissions:
      contents: read
      id-token: write
    with:
      output: image
      push: ${{ github.event_name != 'pull_request' }}
      cache: true
      meta-images: |
        public.ecr.aws/q3b5f1u4/test-docker-action
      meta-tags: |
        type=raw,value=build-ghbuilder-single-${{ github.run_id }}
      build-file: test/hello.Dockerfile
      build-sbom: true
    secrets:
      registry-auths: |
        - registry: public.ecr.aws
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  build-aws-single-verify:
    uses: ./.github/workflows/verify.yml
    if: ${{ github.event_name != 'pull_request' }}
    needs:
      - build-aws-single
    with:
      builder-outputs: ${{ toJSON(needs.build-aws-single.outputs) }}
    secrets:
      registry-auths: |
        - registry: public.ecr.aws
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  build-aws-single-outputs:
    runs-on: ubuntu-24.04
    needs:
      - build-aws-single
    steps:
      -
        name: Builder outputs
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          INPUT_BUILDER-OUTPUTS: ${{ toJSON(needs.build-aws-single.outputs) }}
        with:
          script: |
            const builderOutputs = JSON.parse(core.getInput('builder-outputs'));
            core.info(JSON.stringify(builderOutputs, null, 2));

  build-aws:
    uses: ./.github/workflows/build.yml
    permissions:
      contents: read
      id-token: write
    with:
      output: image
      push: ${{ github.event_name != 'pull_request' }}
      cache: true
      cache-scope: build-aws
      meta-images: |
        public.ecr.aws/q3b5f1u4/test-docker-action
      meta-tags: |
        type=raw,value=build-ghbuilder-${{ github.run_id }}
      build-file: test/hello.Dockerfile
      build-sbom: true
      build-platforms: linux/amd64,linux/arm64
    secrets:
      registry-auths: |
        - registry: public.ecr.aws
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  build-aws-verify:
    uses: ./.github/workflows/verify.yml
    if: ${{ github.event_name != 'pull_request' }}
    needs:
      - build-aws
    with:
      builder-outputs: ${{ toJSON(needs.build-aws.outputs) }}
    secrets:
      registry-auths: |
        - registry: public.ecr.aws
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  build-aws-outputs:
    runs-on: ubuntu-24.04
    needs:
      - build-aws
    steps:
      -
        name: Builder outputs
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          INPUT_BUILDER-OUTPUTS: ${{ toJSON(needs.build-aws.outputs) }}
        with:
          script: |
            const builderOutputs = JSON.parse(core.getInput('builder-outputs'));
            core.info(JSON.stringify(builderOutputs, null, 2));

  build-ghcr:
    uses: ./.github/workflows/build.yml
    permissions:
      contents: read
      id-token: write
      packages: write
    with:
      output: image
      push: ${{ github.event_name != 'pull_request' }}
      meta-images: ghcr.io/docker/github-builder-test
      meta-tags: |
        type=raw,value=build-${{ github.run_id }}
      build-file: test/hello.Dockerfile
      build-sbom: true
      build-platforms: linux/amd64,linux/arm64
    secrets:
      registry-auths: |
        - registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

  build-ghcr-verify:
    uses: ./.github/workflows/verify.yml
    if: ${{ github.event_name != 'pull_request' }}
    needs:
      - build-ghcr
    with:
      builder-outputs: ${{ toJSON(needs.build-ghcr.outputs) }}
    secrets:
      registry-auths: |
        - registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

  build-ghcr-outputs:
    runs-on: ubuntu-24.04
    needs:
      - build-ghcr
    steps:
      -
        name: Builder outputs
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          INPUT_BUILDER-OUTPUTS: ${{ toJSON(needs.build-ghcr.outputs) }}
        with:
          script: |
            const builderOutputs = JSON.parse(core.getInput('builder-outputs'));
            core.info(JSON.stringify(builderOutputs, null, 2));

  build-dockerhub-stage:
    uses: ./.github/workflows/build.yml
    permissions:
      contents: read
      id-token: write
    with:
      output: image
      push: ${{ github.event_name != 'pull_request' }}
      meta-images: registry-1-stage.docker.io/docker/github-builder-test
      meta-tags: |
        type=raw,value=build-${{ github.run_id }}
      build-file: test/hello.Dockerfile
      build-sbom: true
      build-platforms: linux/amd64,linux/arm64
    secrets:
      registry-auths: |
        - registry: registry-1-stage.docker.io
          username: ${{ vars.DOCKERHUB_STAGE_USERNAME }}
          password: ${{ secrets.DOCKERHUB_STAGE_TOKEN }}

  build-dockerhub-stage-verify:
    uses: ./.github/workflows/verify.yml
    if: ${{ github.event_name != 'pull_request' }}
    needs:
      - build-dockerhub-stage
    with:
      builder-outputs: ${{ toJSON(needs.build-dockerhub-stage.outputs) }}
    secrets:
      registry-auths: |
        - registry: registry-1-stage.docker.io
          username: ${{ vars.DOCKERHUB_STAGE_USERNAME }}
          password: ${{ secrets.DOCKERHUB_STAGE_TOKEN }}

  build-dockerhub-stage-outputs:
    runs-on: ubuntu-24.04
    needs:
      - build-dockerhub-stage
    steps:
      -
        name: Builder outputs
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          INPUT_BUILDER-OUTPUTS: ${{ toJSON(needs.build-dockerhub-stage.outputs) }}
        with:
          script: |
            const builderOutputs = JSON.parse(core.getInput('builder-outputs'));
            core.info(JSON.stringify(builderOutputs, null, 2));

  build-ghcr-and-aws:
    uses: ./.github/workflows/build.yml
    permissions:
      contents: read
      id-token: write
      packages: write
    with:
      output: image
      push: ${{ github.event_name != 'pull_request' }}
      meta-images: |
        ghcr.io/docker/github-builder-test
        public.ecr.aws/q3b5f1u4/test-docker-action
      meta-tags: |
        type=raw,value=${{ github.run_id }},prefix=build-ghcr-and-aws-
      build-file: test/hello.Dockerfile
      build-sbom: true
      build-platforms: linux/amd64,linux/arm64
    secrets:
      registry-auths: |
        - registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        - registry: public.ecr.aws
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  build-ghcr-and-aws-verify:
    uses: ./.github/workflows/verify.yml
    if: ${{ github.event_name != 'pull_request' }}
    needs:
      - build-ghcr-and-aws
    with:
      builder-outputs: ${{ toJSON(needs.build-ghcr-and-aws.outputs) }}
    secrets:
      registry-auths: |
        - registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        - registry: public.ecr.aws
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  build-ghcr-and-aws-outputs:
    runs-on: ubuntu-24.04
    needs:
      - build-ghcr-and-aws
    steps:
      -
        name: Builder outputs
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          INPUT_BUILDER-OUTPUTS: ${{ toJSON(needs.build-ghcr-and-aws.outputs) }}
        with:
          script: |
            const builderOutputs = JSON.parse(core.getInput('builder-outputs'));
            core.info(JSON.stringify(builderOutputs, null, 2));

  build-local:
    uses: ./.github/workflows/build.yml
    permissions:
      contents: read
      id-token: write
    with:
      output: local
      push: ${{ github.event_name != 'pull_request' }}
      artifact-name: build-output
      build-file: test/hello.Dockerfile
      build-sbom: true
      build-platforms: linux/amd64,linux/arm64

  build-local-verify:
    uses: ./.github/workflows/verify.yml
    if: ${{ github.event_name != 'pull_request' }}
    needs:
      - build-local
    with:
      builder-outputs: ${{ toJSON(needs.build-local.outputs) }}

  build-local-outputs:
    runs-on: ubuntu-24.04
    needs:
      - build-local
    steps:
      -
        name: Builder outputs
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          INPUT_BUILDER-OUTPUTS: ${{ toJSON(needs.local.outputs) }}
        with:
          script: |
            const builderOutputs = JSON.parse(core.getInput('builder-outputs'));
            core.info(JSON.stringify(builderOutputs, null, 2));

  build-local-single:
    uses: ./.github/workflows/build.yml
    permissions:
      contents: read
      id-token: write
    with:
      output: local
      push: ${{ github.event_name != 'pull_request' }}
      artifact-name: build-output-single
      build-file: test/hello.Dockerfile
      build-sbom: true

  build-local-single-verify:
    uses: ./.github/workflows/verify.yml
    if: ${{ github.event_name != 'pull_request' }}
    needs:
      - build-local-single
    with:
      builder-outputs: ${{ toJSON(needs.build-local-single.outputs) }}

  build-local-single-outputs:
    runs-on: ubuntu-24.04
    needs:
      - build-local-single
    steps:
      -
        name: Builder outputs
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          INPUT_BUILDER-OUTPUTS: ${{ toJSON(needs.build-local-single.outputs) }}
        with:
          script: |
            const builderOutputs = JSON.parse(core.getInput('builder-outputs'));
            core.info(JSON.stringify(builderOutputs, null, 2));

  build-set-runner:
    uses: ./.github/workflows/build.yml
    permissions:
      contents: read
      id-token: write
    with:
      runner: amd64
      output: image
      push: false
      meta-images: ghcr.io/docker/github-builder-test
      meta-tags: |
        type=raw,value=build-${{ github.run_id }}
      build-file: test/hello.Dockerfile
      build-platforms: linux/amd64,linux/arm64

  bake-aws-single:
    uses: ./.github/workflows/bake.yml
    permissions:
      contents: read
      id-token: write
    with:
      context: test
      target: hello
      output: image
      push: ${{ github.event_name != 'pull_request' }}
      cache: true
      cache-scope: bake-aws
      meta-images: |
        public.ecr.aws/q3b5f1u4/test-docker-action
      meta-tags: |
        type=raw,value=bake-ghbuilder-single-${{ github.run_id }}
      bake-sbom: true
    secrets:
      registry-auths: |
        - registry: public.ecr.aws
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  bake-aws-single-verify:
    uses: ./.github/workflows/verify.yml
    if: ${{ github.event_name != 'pull_request' }}
    needs:
      - bake-aws-single
    with:
      builder-outputs: ${{ toJSON(needs.bake-aws-single.outputs) }}
    secrets:
      registry-auths: |
        - registry: public.ecr.aws
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  bake-aws-single-outputs:
    runs-on: ubuntu-24.04
    needs:
      - bake-aws-single
    steps:
      -
        name: Builder outputs
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          INPUT_BUILDER-OUTPUTS: ${{ toJSON(needs.bake-aws-single.outputs) }}
        with:
          script: |
            const builderOutputs = JSON.parse(core.getInput('builder-outputs'));
            core.info(JSON.stringify(builderOutputs, null, 2));

  bake-aws:
    uses: ./.github/workflows/bake.yml
    permissions:
      contents: read
      id-token: write
    with:
      context: test
      target: hello-cross
      output: image
      push: ${{ github.event_name != 'pull_request' }}
      cache: true
      cache-scope: bake-aws
      meta-images: |
        public.ecr.aws/q3b5f1u4/test-docker-action
      meta-tags: |
        type=raw,value=bake-ghbuilder-${{ github.run_id }}
      bake-sbom: true
    secrets:
      registry-auths: |
        - registry: public.ecr.aws
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  bake-aws-verify:
    uses: ./.github/workflows/verify.yml
    if: ${{ github.event_name != 'pull_request' }}
    needs:
      - bake-aws
    with:
      builder-outputs: ${{ toJSON(needs.bake-aws.outputs) }}
    secrets:
      registry-auths: |
        - registry: public.ecr.aws
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  bake-aws-outputs:
    runs-on: ubuntu-24.04
    needs:
      - bake-aws
    steps:
      -
        name: Builder outputs
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          INPUT_BUILDER-OUTPUTS: ${{ toJSON(needs.bake-aws.outputs) }}
        with:
          script: |
            const builderOutputs = JSON.parse(core.getInput('builder-outputs'));
            core.info(JSON.stringify(builderOutputs, null, 2));

  bake-ghcr-and-aws:
    uses: ./.github/workflows/bake.yml
    permissions:
      contents: read
      id-token: write
      packages: write
    with:
      context: test
      target: hello-cross
      output: image
      push: ${{ github.event_name != 'pull_request' }}
      cache: true
      cache-scope: bake-aws
      meta-images: |
        ghcr.io/docker/github-builder-test
        public.ecr.aws/q3b5f1u4/test-docker-action
      meta-tags: |
        type=raw,value=${{ github.run_id }},prefix=bake-ghcr-and-aws-
      bake-sbom: true
    secrets:
      registry-auths: |
        - registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        - registry: public.ecr.aws
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  bake-ghcr-and-aws-verify:
    uses: ./.github/workflows/verify.yml
    if: ${{ github.event_name != 'pull_request' }}
    needs:
      - bake-ghcr-and-aws
    with:
      builder-outputs: ${{ toJSON(needs.bake-ghcr-and-aws.outputs) }}
    secrets:
      registry-auths: |
        - registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        - registry: public.ecr.aws
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  bake-ghcr-and-aws-outputs:
    runs-on: ubuntu-24.04
    needs:
      - bake-ghcr-and-aws
    steps:
      -
        name: Builder outputs
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          INPUT_BUILDER-OUTPUTS: ${{ toJSON(needs.bake-ghcr-and-aws.outputs) }}
        with:
          script: |
            const builderOutputs = JSON.parse(core.getInput('builder-outputs'));
            core.info(JSON.stringify(builderOutputs, null, 2));

  bake-local:
    uses: ./.github/workflows/bake.yml
    permissions:
      contents: read
      id-token: write
    with:
      context: test
      target: hello-cross
      output: local
      push: ${{ github.event_name != 'pull_request' }}
      cache: true
      artifact-name: bake-output
      bake-sbom: true

  bake-local-verify:
    uses: ./.github/workflows/verify.yml
    if: ${{ github.event_name != 'pull_request' }}
    needs:
      - bake-local
    with:
      builder-outputs: ${{ toJSON(needs.bake-local.outputs) }}

  bake-local-outputs:
    runs-on: ubuntu-24.04
    needs:
      - bake-local
    steps:
      -
        name: Builder outputs
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          INPUT_BUILDER-OUTPUTS: ${{ toJSON(needs.bake-local.outputs) }}
        with:
          script: |
            const builderOutputs = JSON.parse(core.getInput('builder-outputs'));
            core.info(JSON.stringify(builderOutputs, null, 2));

  bake-local-single:
    uses: ./.github/workflows/bake.yml
    permissions:
      contents: read
      id-token: write
    with:
      context: test
      target: hello
      output: local
      push: ${{ github.event_name != 'pull_request' }}
      cache: true
      artifact-name: bake-output-single
      bake-sbom: true

  bake-local-single-verify:
    uses: ./.github/workflows/verify.yml
    if: ${{ github.event_name != 'pull_request' }}
    needs:
      - bake-local-single
    with:
      builder-outputs: ${{ toJSON(needs.bake-local-single.outputs) }}

  bake-local-single-outputs:
    runs-on: ubuntu-24.04
    needs:
      - bake-local-single
    steps:
      -
        name: Builder outputs
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          INPUT_BUILDER-OUTPUTS: ${{ toJSON(needs.bake-local-single.outputs) }}
        with:
          script: |
            const builderOutputs = JSON.parse(core.getInput('builder-outputs'));
            core.info(JSON.stringify(builderOutputs, null, 2));

  bake-set-runner:
    uses: ./.github/workflows/bake.yml
    permissions:
      contents: read
      id-token: write
    with:
      runner: amd64
      context: test
      target: hello-cross
      output: image
      push: false
      meta-images: |
        public.ecr.aws/q3b5f1u4/test-docker-action
      meta-tags: |
        type=raw,value=bake-ghbuilder-${{ github.run_id }}
