name: build

on:
  workflow_call:
    inputs:
      set-meta-annotations:
        type: boolean
        description: "Set metadata-action annotations"
        required: false
        default: false
      set-meta-labels:
        type: boolean
        description: "Set metadata-action labels"
        required: false
        default: false
      meta-image:
        type: string
        description: "Image to use as base name for tags"
        required: true
      meta-tags:
        type: string
        description: "List of tags as key-value pair attributes"
        required: false
      meta-flavor:
        type: string
        description: "Flavors to apply"
        required: false
      meta-labels:
        type: string
        description: "List of custom labels"
        required: false
      meta-annotations:
        type: string
        description: "List of custom annotations"
        required: false
      login-registry:
        type: string
        description: "Server address of Docker registry. If not set then will default to Docker Hub"
        required: false
      login-username:
        type: string
        description: "Username used to log against the Docker registry"
        required: false
      login-ecr:
        type: string
        description: "Specifies whether the given registry is ECR (auto, true or false)"
        default: 'auto'
        required: false
      build-args:
        type: string
        description: "List of build-time variables"
        required: false
      build-output:
        type: string
        description: "Build outout destination (one of cacheonly, registry)"
        default: 'cacheonly'
        required: false
      build-platforms:
        type: string
        description: "List of target platforms to build"
        required: false
      build-sbom:
        type: string
        description: "Generate SBOM attestation for the build (shorthand for --attest=type=sbom)"
        required: false
    secrets:
      login-password:
        description: "Password or personal access token used to log against the Docker registry"
        required: false
      github-token:
        description: "GitHub Token used to authenticate against a repository for Git context"
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # needed for pushing the images to GitHub Packages
      id-token: write # needed for signing the images with GitHub OIDC Token
    steps:
      -
        name: Prepare
        id: prepare
        uses: actions/github-script@v7
        env:
          INPUT_META-IMAGE: ${{ inputs.meta-image }}
          INPUT_BUILD-OUTPUT: ${{ inputs.build-output }}
        with:
          script: |
            const metaImage = core.getMultilineInput('meta-image');
            const buildOutput = core.getInput('build-output');
            
            if (core.getMultilineInput('meta-image').length != 1) {
              core.setFailed('Only one meta-image is allowed');
            }
            switch (buildOutput) {
              case 'cacheonly':
                core.setOutput('output', 'type=cacheonly');
                break;
              case 'registry':
                core.setOutput('output', `type=registry,"name=${metaImage[0]}",oci-artifact=true,push-by-digest=true,name-canonical=true`);
                break;
              default:
                core.setFailed(`Invalid build-output: ${buildOutput}`);
            }
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to registry
        uses: crazy-max/docker-login-action@dockerhub-oidc
        with:
          registry: ${{ inputs.login-registry }}
          username: ${{ inputs.login-username }}
          password: ${{ secrets.login-password }}
          ecr: ${{ inputs.login-ecr }}
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ inputs.meta-image }}
          tags: ${{ inputs.meta-tags }}
          flavor: ${{ inputs.meta-flavor }}
          labels: ${{ inputs.meta-labels }}
          annotations: ${{ inputs.meta-annotations }}
      -
        name: Build
        id: build
        uses: docker/build-push-action@v6
        with:
          build-args: ${{ inputs.build-args }}
          platforms: ${{ inputs.build-platforms }}
          outputs: ${{ steps.prepare.outputs.output }}
          sbom: ${{ inputs.build-sbom }}
          labels: ${{ inputs.set-meta-labels && steps.meta.outputs.labels || '' }}
          annotations: ${{ inputs.set-meta-annotations && steps.meta.outputs.annotations || '' }}
          github-token: ${{ secrets.github-token || github.token }}
      -
        name: Get attestations manifest digest
        id: attest
        if: ${{ inputs.build-output == 'registry' }}
        uses: actions/github-script@v7
        env:
          INPUT_IMAGE-NAME: ${{ inputs.meta-image }}
          INPUT_IMAGE-DIGEST: ${{ steps.build.outputs.digest }}
        with:
          script: |
            let manifest = {};
            await core.group(`Get manifest`, async () => {
              await exec.getExecOutput('docker', ['buildx', 'imagetools', 'inspect', `${core.getInput('image-name')}@${core.getInput('image-digest')}`, '--format', '{{json .Manifest}}'], {
                ignoreReturnCode: true
              }).then(res => {
                if (res.stderr.length > 0 && res.exitCode != 0) {
                  throw new Error(res.stderr);
                }
                manifest = JSON.parse(res.stdout.trim());
              });
            });
            await core.group(`Get attestations manifest digest`, async () => {
              const attestationDigests = manifest.manifests.filter(m => m.annotations && m.annotations['vnd.docker.reference.type'] === 'attestation-manifest').map(m => m.digest);
              core.info(JSON.stringify(attestationDigests, null, 2));
              core.setOutput('digests', attestationDigests.join('\n'));
            });
      -
        name: Install cosign
        uses: sigstore/cosign-installer@v3
      -
        name: Sign with GitHub OIDC Token
        if: ${{ inputs.build-output != 'cacheonly' }}
        uses: actions/github-script@v7
        env:
          INPUT_TAGS: ${{ steps.meta.outputs.tags }}
          INPUT_DIGESTS: ${{ steps.attest.outputs.digests }}
          COSIGN_EXPERIMENTAL: 1
        with:
          script: |
            const tags = core.getMultilineInput('tags');
            const digests = core.getMultilineInput('digests');
            const images = [];
            for (const tag of tags) {
              for (const digest of digests) {
                images.push(`${tag}@${digest}`);
              }
            }
            await exec.getExecOutput('cosign', ['-d', 'sign', '--yes', '--oidc-provider', 'github-actions', '--oidc-issuer', 'https://token.actions.githubusercontent.com', '--registry-referrers-mode', 'oci-1-1', ...images], {
              ignoreReturnCode: true
            }).then(res => {
              if (res.stderr.length > 0 && res.exitCode != 0) {
                throw new Error(res.stderr);
              }
            });
      -
        name: Verify signatures
        if: ${{ inputs.build-output != 'cacheonly' }}
        uses: actions/github-script@v7
        env:
          INPUT_IMAGE-NAME: ${{ inputs.meta-image }}
          INPUT_DIGESTS: ${{ steps.attest.outputs.digests }}
          COSIGN_EXPERIMENTAL: 1
        with:
          script: |
            const digests = core.getMultilineInput('digests');
            for (const digest of digests) {
              const image = `${core.getInput('image-name')}@${digest}`;
              await core.group(`Verifying ${image}`, async () => {
                await new Promise(resolve => setTimeout(resolve, 3000));
                await exec.getExecOutput('cosign', ['-d', 'verify', '--experimental-oci11', '--certificate-identity-regexp', `^https://github.com/docker/github-builder-experimental/.github/workflows/build.yml.*$`, '--certificate-oidc-issuer', 'https://token.actions.githubusercontent.com', image], {
                  ignoreReturnCode: true
                }).then(res => {
                  if (res.exitCode != 0) {
                    core.setFailed(`Verification failed for ${image}`);
                  }
                });
              });
            }
      -
        name: Create manifest
        if: ${{ inputs.build-output == 'registry' }}
        uses: actions/github-script@v7
        env:
          INPUT_TAGS: ${{ steps.meta.outputs.tags }}
          INPUT_IMAGE-DIGEST: ${{ steps.build.outputs.digest }}
        with:
          script: |
            let createArgs = ['buildx', 'imagetools', 'create'];
            for (const tag of core.getMultilineInput('tags')) {
              createArgs.push('-t', tag);
            }
            createArgs.push(core.getInput('image-digest'));
            
            await exec.getExecOutput('docker', createArgs, {
              ignoreReturnCode: true
            }).then(res => {
              if (res.stderr.length > 0 && res.exitCode != 0) {
                throw new Error(res.stderr);
              }
            });
