name: verify

on:
  workflow_call:
    inputs:
      builder-outputs:
        type: string
        description: "JSON build outputs from Docker GitHub Builder reusable workflows"
        required: true
    secrets:
      registry-auths:
        description: "Registry authentication details as YAML objects"
        required: false

env:
  DOCKER_ACTIONS_TOOLKIT_MODULE: "@docker/actions-toolkit@0.72.0"

jobs:
  verify:
    runs-on: ubuntu-24.04
    steps:
      -
        name: Extract builder outputs
        id: vars
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          INPUT_BUILDER-OUTPUTS: ${{ inputs.builder-outputs }}
        with:
          script: |
            const builderOutputs = JSON.parse(core.getInput('builder-outputs'));
            core.info(JSON.stringify(builderOutputs, null, 2));
            
            const cosignVersion = builderOutputs['cosign-version'];
            const cosignVerifyCommands = builderOutputs['cosign-verify-commands'];
            const artifactName = builderOutputs['artifact-name'];
            const outputType = builderOutputs['output-type'];
            const signed = builderOutputs['signed'] === 'true';
            if (!signed) {
              core.warning('No signatures to verify, skipping verification steps');
            } else if (!cosignVersion || !cosignVerifyCommands || !outputType || (outputType === 'local' && !artifactName)) {
              core.setFailed('Missing required builder outputs for signature verification');
              return;
            }
            
            core.setOutput('cosign-version', cosignVersion);
            core.setOutput('cosign-verify-commands', cosignVerifyCommands);
            core.setOutput('artifact-name', artifactName);
            core.setOutput('output-type', outputType);
            core.setOutput('signed', signed);
      -
        name: Install @docker/actions-toolkit
        if: ${{ steps.vars.outputs.signed == 'true' }}
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          INPUT_DAT-MODULE: ${{ env.DOCKER_ACTIONS_TOOLKIT_MODULE }}
        with:
          script: |
            await exec.exec('npm', ['install', '--prefer-offline', '--ignore-scripts', core.getInput('dat-module')]);
      -
        name: Install Cosign
        if: ${{ steps.vars.outputs.signed == 'true' }}
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          INPUT_COSIGN-VERSION: ${{ steps.vars.outputs.cosign-version }}
        with:
          script: |
            const { Cosign } = require('@docker/actions-toolkit/lib/cosign/cosign');
            const { Install } = require('@docker/actions-toolkit/lib/cosign/install');

            const cosignInstall = new Install();
            const cosignBinPath = await cosignInstall.download({
              version: core.getInput('cosign-version'),
              ghaNoCache: true,
              skipState: true,
              verifySignature: true
            });
            await cosignInstall.install(cosignBinPath);

            const cosign = new Cosign();
            await cosign.printVersion();
      -
        name: Login to registry
        if: ${{ steps.vars.outputs.signed == 'true' && steps.vars.outputs.output-type == 'image' }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry-auth: ${{ secrets.registry-auths }}
      -
        name: Download artifacts
        if: ${{ steps.vars.outputs.signed == 'true' && steps.vars.outputs.output-type == 'local' }}
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ${{ steps.vars.outputs.artifact-name }}
      -
        name: Verify signatures
        if: ${{ steps.vars.outputs.signed == 'true' }}
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          INPUT_COSIGN-VERIFY-COMMANDS: ${{ steps.vars.outputs.cosign-verify-commands }}
        with:
          script: |
            for (const cmd of core.getMultilineInput('cosign-verify-commands')) {
              await exec.exec(cmd);
            }
